@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: #fff;
    border-bottom: 1px solid;
    z-index: 100;
}
.tzila-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
    opacity: 1s;
    animation: slideTop 1s ease-in-out;
}
.logo-name {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 500;
    font-family: Carattere;
    cursor: default;
    margin-left: 1rem;
    opacity: 1s;
    animation: slideTop 1.2s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: inherit;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.btn {
    position: relative;
    display: inline-flex;
    padding: 1rem 2.5rem;
    margin: .8rem;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--second-bg-color);
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.7s;
}
.btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 2rem var(--main-color);
    cursor: pointer;
}
.social-link img {
    width: 1em;
    margin-right: .25rem;
}
.main-footer .container {
    display: flex;
    justify-content: space-between;
}
.project {
    margin-left: 0px;
    background: #000;
    height: 461px;
    text-align: center;
    padding: 4rem;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.6s;
}
#second_span {
    color: var(--main-color);
}
#h3-content {
    font-size: 2.6rem;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-clip: text;
    background-image: linear-gradient(#0ef, #db208a, #fff);
    background-repeat: no-repeat;
    background-position: -800 0;
    animation: animateText 5s linear infinite;
    text-align: center;
    margin-bottom: 3rem;
}
.project p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.6s;
}
/*section-icons css*/
.section-icons {
    position: relative;
    width: 100%;
    min-height: 100px;
    left: 0;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-icons img {
    border-radius: 50%;
    border: 3px solid var(--main-color);
    margin: 0.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
}
.section-icons img:hover {
    transform: scale(1.6);
    transition: 1s;
    box-shadow: 0 0 1.5rem var(--main-color);
    cursor: pointer;
    border-radius: 50px;
    border: 3px solid var(--main-color);

}
#container {
    display: flex
}
#container-content {
    direction: rtl;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15em;
}
#img-section {
    margin-left: 0px;
    background: #EBFEFF 0% 0% no-repeat padding-box;
    height: 700px;
    margin: auto;
    padding-top: 100px;
}
#img {
    display: block;
    margin: auto;
    width: 60%;
    height: 500px;
    box-shadow: 0px 0px 40px #00000066;
    opacity: 1;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p {
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
/*keyframes animation*/
@keyframes animateText {

    0%,
    95%,
    100% {
        background-position: -800px 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*breakpoints/responsivity*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }   
    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width: 800px) {
    #menu-icon {
        display: block;
    }
    .logo-name {
        text-align: center;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }
    .navbar a {
        display: block;
        font-size: 12px;
        margin: 0.2rem 0;     
    }
    .heading {
        text-align: center;
        font-size: 3.5rem;
        margin-top: 15rem; 
    }

    #h3-content {
        font-size: 2rem;
        color: transparent;
        -webkit-text-stroke: .5px #fff;
        background-clip: text;
        background-image: linear-gradient(#0ef, #db208a, #fff);
        background-repeat: no-repeat;
        background-position: -800 0;
        animation: animateText 5s linear infinite;
        text-align: center;
        margin-bottom: 2rem;
    }
    .project p {
        font-size: 1.3rem;
        margin: 2rem 0 3rem;
    }
    #section-icons {
        position: relative;
        width: 100%;
        min-height: 100px;
        left: 0;
        padding: 2rem 3%;
    }
    #img {
        display: block;
        margin: auto;
        width: 45%;
        height: 500px;
        box-shadow: 0px 0px 40px #00000066;
        opacity: 1;
    }
}
@media (max-width: 500px) {
    .btn {
        padding: .5rem 1.5rem;
        margin: .5rem;
        justify-content: center;
        align-items: center;
        background: var(--main-color);
        border-radius: 4rem;
        box-shadow: 0 0 1rem var(--main-color);
        font-size: 1.2rem;
        font-weight: 500;
    }
    #img {
        display: block;
        margin: auto;
        width: 30%;
        height: 500px;
        box-shadow: 0px 0px 40px #00000066;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}
@media (max-width: 450px) {
    .footer-iconTop a i {
        font-size: 1.2rem;
    }
    .footer p {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 2rem;
    }
    .footer-iconTop a {
        padding: .5rem;
        font-size: 1rem;
    }
}
@media (max-width: 300px) {
    .btn {
        padding: .5rem 1.5rem;
        margin: .5rem;
        justify-content: center;
        align-items: center;
        background: var(--main-color);
        border-radius: 4rem;
        box-shadow: 0 0 1rem var(--main-color);
        font-size: 1rem;
        font-weight: 500;
    }
    .heading {
     text-align: center;
     font-size: 2.5rem;
     margin-top: 15rem;
    }

    #h3-content {
     font-size: 1.5rem;
     color: transparent;
     -webkit-text-stroke: .5px #fff;
     background-clip: text;
     background-image: linear-gradient(#0ef, #db208a, #fff);
     background-repeat: no-repeat;
     background-position: -800 0;
     animation: animateText 5s linear infinite;
     text-align: center;
     margin-bottom: 2rem;
    }
    .project p {
     font-size: 1rem;
     margin: 2rem 0 3rem;
    }            
}
        