* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.pass-image img{
    width: 100vw;
    height: 70%;
    position: absolute;
    background: transparent url('img/Path 15.png') 0% 0% no-repeat padding-box;
}
.form {
    background: #1A1A1AD4 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    position: relative;
    z-index: 99;
    top: 100px;      
    width: 400px;
    height: 470px;
    margin-left: 750px;
    margin-bottom: 200px;
    padding: auto; 
    animation: slideTop 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

}
.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    position: relative;
    z-index: 99;
}
.form h1 {
    margin-top: 3rem;
    text-align: right;
    font: normal normal 900 30px Heebo;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.form p {        
    text-align: right;
    font: normal normal normal 13px Heebo;
    letter-spacing: 0px;
    color: #F9F9F9;
    margin-top: 1rem;
    direction: rtl;

}
.form form {
    color: #FFFFFF;
    direction: rtl;
    font: normal normal bold 16px/24px Heebo;
    letter-spacing: 0px;
}
label[for="Name"] {
    display: block;
    margin-bottom: 3px;
    text-align: right;
    margin-top: 1rem;
}
label[for="email"] {
    display: block;
    margin-bottom: 3px;
    text-align: right;
    margin-top: 1rem;
}
#Name {
    text-decoration: underline, #0ee1da;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D31C75;
    width: 25vw;
    height: 40px;
}
#email {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D31C75;
    width: 25vw;
    height: 40px;
}
input[type="submit"] {
    background: #D31C75 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    height: 20px;
    text-align: center;
    font: normal normal bold 20px/30px Heebo;
    letter-spacing: 0.33px;
    width: 15vw;
    height: 40px;
    margin-top: 2.5rem;      
}
input[type="submit"]:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #D31C75;
    height: 20px;
    text-align: center;
    font: normal normal bold 20px/30px Heebo;
    letter-spacing: 0.33px;
    width: 15vw;
    height: 40px;
}
/*animation*/
@keyframes slideTop {
    0% {
        top: -100px;
        opacity: 0;
    }
        100% {
            top: 100px;
            opacity: 1;
        }
    }
/*resposivity*/    
@media (max-width: 1300px) {
    .pass-image img {
        width: 100vw;
        height: 55%;
        position: absolute;
        background: transparent url('img/Path 15.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .form {
        background: #1A1A1AD4 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: right;
        position: relative;
        z-index: 99;
        top: 250px;
        width: 300px;
        height: 470px;
        margin: auto;
        margin-top: 0px;
               
    }
    .form-content {
       padding: 1rem;
    }
    .form h1 {
        font: normal normal 900 20px Heebo;
        margin-top: 2rem;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-align: right;
        margin: .5rem;
    }
    .form p {
        text-align: right;
        font: normal normal normal 9px Heebo;
        letter-spacing: 0px;
        color: #F9F9F9;
        direction: rtl;
        margin: .5rem;
    }
    .form form {
        color: #FFFFFF;
        direction: rtl;
        font: normal normal bold 16px Heebo;
        letter-spacing: 0px;
        margin: .5rem;
    }
    label[for="Name"] {
        display: block;
        margin-bottom: 1px;
        text-align: right;
        margin: .5rem;
     
    }
    label[for="email"] {
        display: block;
        margin-bottom: 1px;
        text-align: right;
        margin: .5rem;
        
    }
    #Name {
        height: 30px;
        margin: .5rem;
        width: 22vw;
       
    }
    #email {
        width: 22vw;
        height: 30px;
        margin: .5rem;
    }
    input[type="submit"] {
        height: 20px;
        text-align: center;
        font: normal normal bold 20px/30px Heebo;
        letter-spacing: 0.33px;
        width: 10vw;
        height: 35px;
        margin: 1.3rem;
    }
}
@media (max-width: 800px) {
    .pass-image img {
        width: 100vw;
        height: 55%;
        position: absolute;
        background: transparent url('img/Path 15.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .form {
        background: #1A1A1AD4 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: right;
        position: relative;
        z-index: 99;
        top: 250px;
        width: 300px;
        height: 470px;
        margin-left: 100px;
        margin-bottom: 200px;
        padding: auto;
    }

    .form-content {
        padding: 1rem;
    }

    .form h1 {
        font: normal normal 900 20px Heebo;
        margin-top: 80px;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-align: right;
        margin: 1rem;
    }

    .form p {
        text-align: right;
        font: normal normal normal 9px Heebo;
        letter-spacing: 0px;
        color: #F9F9F9;
        direction: rtl;
        margin: .5rem;
    }

    .form form {
        color: #FFFFFF;
        direction: rtl;
        font: normal normal bold 16px Heebo;
        letter-spacing: 0px;
        margin: .5rem;
    }

    label[for="Name"] {
        display: block;
        margin-bottom: 1px;
        text-align: right;
        margin: .5rem;

    }

    label[for="email"] {
        display: block;
        margin-bottom: 1px;
        text-align: right;
        margin: .5rem;

    }

    #Name {
        height: 30px;
        margin: .5rem;
        width: 36vw;

    }

    #email {
        width: 36vw;
        height: 30px;
        margin: .5rem;
    }

    input[type="submit"] {
        height: 20px;
        text-align: center;
        font: normal normal bold 20px/30px Heebo;
        letter-spacing: 0.33px;
        width: 16vw;
        height: 35px;
        margin: 1.3rem;
    }
}
    




    










            

            









                                





/*
}
@media screen and (max-width: 600px) {
        .form {
            width: 150px;
            height: 250px;
            margin-left: 400px;
            margin-bottom: 50px;
            padding: auto;
        }
    }
        @media screen and (max-width: 400px) {
            .form {
                width: 100px;
                height: 200px;
                margin-left: 300px;
                margin-bottom: 30px;
                padding: auto;
            }
        }
                @media screen and (max-width: 300px) {
                    .form {
                        width: 80px;
                        height: 150px;
                        margin-left: 200px;
                        margin-bottom: 20px;
                        padding: auto;
                    }
                }*/

       